@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@font-face {
  font-family: 'Collegiate Black';
  src: url('@/assets/fonts/CollegiateBlackFLF.ttf') format('truetype');
}

@font-face {
  font-family: 'Collegiate Border';
  src: url('@/assets/fonts/CollegiateBorderFLF.ttf') format('truetype');
}

@font-face {
  font-family: 'Gobold High';
  src: url('@/assets/fonts/Gobold High Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Gobold High';
  src: url('@/assets/fonts/Gobold High Bold Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@theme {
  --color-primary: #00A896;
  --color-primary-dark: #028A7A;
  --color-primary-light: #00BFA8;
  --color-secondary: #FFD700;
  --color-secondary-dark: #E6C200;
  --color-secondary-light: #FFEB33;
}

* {
  font-family: 'Montserrat', sans-serif;
}